Repository idaholab/moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @cticenhour, @lindsayad, @permcody, @zachmprince, @roystgnr, @GiudGiud, @dschwen, @bwspenc, @recuero, @joshuahansel, @grmnptr, @cpgr, @jiangwen84, @hugary1995, @sapitts

CODEOWNERS:

/conda @loganharbour @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/pyproject.toml @loganharbour @zachmprince

/.github @permcody

/libmesh @roystgnr @lindsayad @cticenhour @loganharbour
/petsc @lindsayad @cticenhour @loganharbour

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/base @roystgnr @lindsayad
/framework/*/base/MeshGeneratorSystem* @loganharbour @lindsayad
/framework/*/dampers @GiudGiud @lindsayad
/framework/*/executioners/*Solve* @GiudGiud @lindsayad
/framework/*/materials/Derivative* @dschwen @lindsayad
/framework/*/materials/Material* @roystgnr @loganharbour @lindsayad
/framework/*/materials/Parsed* @dschwen @lindsayad
/framework/*/mesh @roystgnr @GiudGiud @lindsayad
/framework/*/meshgenerators @roystgnr @GiudGiud @lindsayad
/framework/*/multiapps @GiudGiud @lindsayad
/framework/*/loops @GiudGiud @lindsayad
/framework/*/outputs @roystgnr @lindsayad
/framework/*/postprocessors @GiudGiud @lindsayad
/framework/*/restart @loganharbour @lindsayad
/framework/*/reporters @loganharbour @zachmprince @lindsayad
/framework/*/samplers @zachmprince @lindsayad
/framework/*/systems @roystgnr @lindsayad
/framework/*/timeintegrators @GiudGiud @lindsayad
/framework/*/timesteppers @GiudGiud @lindsayad
/framework/*/transfers @GiudGiud @roystgnr @lindsayad
/framework/*/utils/Units* @dschwen @lindsayad
/framework/*/*/*Jump* @roystgnr @lindsayad
/framework/*/*/*Side* @roystgnr @lindsayad

/modules/contact @bwspenc @lindsayad @recuero
/modules/doc/content/getting_started/installation @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/doc/content/sqa_reports.yml @GiudGiud
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad @GiudGiud
/modules/heat_conduction @lindsayad
/modules/heat_transfer @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud @grmnptr
/modules/optimization @zachmprince @dschwen
/modules/phase_field @dschwen
/modules/porous_flow @cpgr
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud @loganharbour @roystgnr
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince @grmnptr
/modules/solid_mechanics @bwspenc @dschwen @jiangwen84
/modules/solid_mechanics/*/lagrangian @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/cohesive_zone_model @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/interfacekernels @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/crystal_plasticity @bwspenc @dschwen @jiangwen84 @sapitts
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/python/MooseDocs @cticenhour
/python/moosesqa @cticenhour
/python/TestHarness @loganharbour
/python/scripts/versioner.py @loganharbour
/python/scripts/versioner.yaml @loganharbour

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @loganharbour
/scripts/configure_libmesh.sh @cticenhour @loganharbour @roystgnr
/scripts/update_and_rebuild_libmesh.sh @cticenhour @loganharbour @roystgnr

/test @lindsayad

Applying code review suggestions
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoeff.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoeff.C
  test/tests/mfem/functions/tests
  test/tests/mfem/kernels/tests
Owners: @lindsayad

Change ParsedFunction example to use hinomaru.e mesh
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/functions/parsed_function_source.i
Owners: @lindsayad

Changed inputfile name and location in docs Refs#31145
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
Owners: none

Rename test file name
  test/tests/mfem/functions/parsed_function_source.i
  test/tests/mfem/functions/tests
Owners: @lindsayad

modifed tests in kernels and add one in functions Refs#31145
  test/tests/mfem/functions/tests
  test/tests/mfem/kernels/tests
Owners: @lindsayad

Change class name to MFEMScalarParsedCoefficient
  framework/include/mfem/functions/MFEMScalarParsedCoefficient.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoefficient.C
Owners: @lindsayad

Passing list to MooseUtils::stringJoin Refs#31145
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

Apply code review suggestions
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoeff.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoeff.C
  test/tests/mfem/functions/function_parsed_source.i
Owners: @lindsayad

Changed OutputData directory name
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000000/data.pvtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000001/data.pvtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Run0.pvd
Owners: @lindsayad

Improve documentation for parsed function functionality
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  framework/include/mfem/functions/MFEMParsedCoefficient.h
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedCoefficient.C
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

Apply suggestions from code review
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoefficient.C
  test/tests/mfem/functions/parsed_function_source.i
  test/tests/mfem/functions/tests
Owners: @lindsayad

Reframe MFEMParsedFunction as a Function not a UserObject
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoefficient.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoefficient.C
  framework/src/mfem/problem/MFEMProblem.C
  test/tests/mfem/functions/parsed_function_source.i
Owners: @lindsayad

Allocate array of coeff and vec of position values just once
  framework/include/mfem/functions/MFEMScalarParsedCoefficient.h
  framework/src/mfem/functions/MFEMScalarParsedCoefficient.C
Owners: @lindsayad

Generalise for functions of any coefficient and any constant
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoefficient.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoefficient.C
  test/tests/mfem/functions/parsed_function_source.i
Owners: @lindsayad

Parallelise LOR tests for extra speed on big machines
  test/tests/mfem/lor/tests
Owners: @lindsayad

Fix MFEMSumAux docs/param. descriptions
  framework/include/mfem/auxkernels/MFEMSumAux.h
  framework/src/mfem/auxkernels/MFEMSumAux.C
Owners: @lindsayad

Test moving everything in the constructor for the cross-product test. Refs #31612
  framework/include/mfem/auxkernels/MFEMCrossProductAux.h
  framework/src/mfem/auxkernels/MFEMCrossProductAux.C
Owners: @lindsayad

Reduce parsed function test footprint by reusing var
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000000/data.pvtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000001/data.pvtu
  test/tests/mfem/functions/gold/OutputData/ParsedFunctionSource/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/functions/parsed_function_source.i
Owners: @lindsayad

Make sure BC is registered to the right app, move things to capabilities, modify description. (#27756)
  modules/navier_stokes/src/linearfvbcs/LinearFVPressureFluxBC.C
  modules/navier_stokes/src/linearfvbcs/LinearFVVelocitySymmetryBC.C
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/linear-segregated/2d-symmetric/tests
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/tests
Owners: @lindsayad, @GiudGiud, @grmnptr

Add boundary sidesets to hinomaru.e
  test/tests/mfem/auxkernels/projection.i
  test/tests/mfem/mesh/hinomaru.e
Owners: @lindsayad

Simplified cross product test with runtime less than a second. Refs #31612
  framework/doc/content/source/mfem/auxkernels/MFEMCrossProductAux.md
  framework/include/mfem/auxkernels/MFEMCrossProductAux.h
  test/tests/mfem/auxkernels/crossproduct.i
  test/tests/mfem/auxkernels/gold/OutputData/CrossProduct/Run0/Cycle000000/data.pvtu
  test/tests/mfem/auxkernels/gold/OutputData/CrossProduct/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/auxkernels/gold/OutputData/CrossProduct/Run0/Cycle000001/data.pvtu
  test/tests/mfem/auxkernels/gold/OutputData/CrossProduct/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/auxkernels/gold/OutputData/CrossProduct/Run0/Run0.pvd
  test/tests/mfem/auxkernels/gold/OutputData/CrossProductCSV.csv
  test/tests/mfem/auxkernels/tests
  test/tests/mfem/submeshes/av_magnetostatic.i
Owners: @lindsayad

Whitespaces fix. Refs #31612
  framework/include/mfem/auxkernels/MFEMCrossProductAux.h
  test/tests/mfem/auxkernels/crossproduct.i
Owners: @lindsayad

Clean up av_magnetostatic. Refs #31612
  test/tests/mfem/auxkernels/tests
  test/tests/mfem/submeshes/av_magnetostatic.i
Owners: @lindsayad

Add ADArrayNodalKernel
  framework/include/kernels/GenericKernel.h
  framework/include/nodalkernels/ADArrayNodalKernel.h
  framework/include/nodalkernels/ArrayReactionNodalKernel.h
  framework/include/nodalkernels/GenericArrayNodalKernel.h
  framework/include/utils/MooseTypes.h
  framework/src/nodalkernels/ADArrayNodalKernel.C
  framework/src/nodalkernels/ArrayNodalKernel.C
  framework/src/nodalkernels/ArrayReactionNodalKernel.C
  test/tests/nodalkernels/array-reaction-decay/gold/ad_test_out.csv
  test/tests/nodalkernels/array-reaction-decay/tests
Owners: @lindsayad

Add doc
  framework/doc/content/source/bcs/ADArrayDirichletBC.md
  framework/doc/content/source/kernels/ADArrayDiffusion.md
  framework/doc/content/source/kernels/ADArrayReaction.md
Owners: none

locks still needed for nodal normals uos
  framework/include/userobjects/NodalNormalsPreprocessor.h
  framework/src/userobjects/NodalNormalsCorner.C
  framework/src/userobjects/NodalNormalsEvaluator.C
  framework/src/userobjects/NodalNormalsPreprocessor.C
Owners: @lindsayad

Fix doc paths to avoid ambiguity
  framework/doc/content/source/kernels/ArrayDiffusion.md
  framework/doc/content/source/kernels/ArrayReaction.md
  framework/doc/content/source/variables/ArrayMooseVariable.md
  modules/doc/content/newsletter/2019/2019_07.md
Owners: @cticenhour

More variable refactoring
  framework/include/variables/MooseVariableData.h
  framework/src/variables/MooseVariableData.C
Owners: @lindsayad

Test fix. Refs #31612
  test/tests/mfem/auxkernels/tests
Owners: @lindsayad

Fix broken link and perform light technical edit
  modules/doc/content/newsletter/2025/2025_10.md
Owners: @cticenhour

Kokkos functor and function base classes #30655
  framework/include/kokkos/base/KokkosFunctor.h
  framework/include/kokkos/base/KokkosFunctorRegistry.h
  framework/include/kokkos/base/KokkosFunctorWrapper.h
  framework/include/kokkos/functions/KokkosFunction.h
  framework/include/kokkos/functions/KokkosFunctionWrapper.h
  framework/include/utils/MooseTypes.h
  framework/src/kokkos/base/KokkosFunctor.K
  framework/src/kokkos/base/KokkosFunctorRegistry.K
  framework/src/kokkos/functions/KokkosFunction.K
Owners: @lindsayad

Make FunctionBase class #30655
  framework/include/functions/Function.h
  framework/include/functions/FunctionBase.h
  framework/src/functions/Function.C
  framework/src/functions/FunctionBase.C
Owners: @lindsayad

Refactor PiecewiseTabularBase #30655
  framework/include/functions/PiecewiseTabularBase.h
  framework/include/functions/PiecewiseTabularInterface.h
  framework/src/functions/PiecewiseConstant.C
  framework/src/functions/PiecewiseTabularBase.C
  framework/src/functions/PiecewiseTabularInterface.C
Owners: @lindsayad

Add Kokkos functions to the problem #30655
  framework/include/base/MooseObject.h
  framework/include/functions/FunctionInterface.h
  framework/include/kokkos/actions/AddKokkosFunctionAction.h
  framework/include/materials/MaterialPropertyInterface.h
  framework/include/problems/FEProblemBase.h
  framework/src/base/Moose.C
  framework/src/functions/FunctionInterface.C
  framework/src/interfaces/BlockRestrictable.C
  framework/src/interfaces/BoundaryRestrictable.C
  framework/src/kokkos/actions/AddKokkosFunctionAction.K
  framework/src/kokkos/functions/KokkosFunctionInterface.K
  framework/src/kokkos/problems/KokkosFEProblemBase.K
  framework/src/materials/MaterialPropertyInterface.C
  framework/src/problems/FEProblemBase.C
Owners: @roystgnr, @lindsayad, @loganharbour

Kokkos function examples #30655
  framework/include/kokkos/auxkernels/KokkosFunctionAux.h
  framework/include/kokkos/base/KokkosUtils.h
  framework/include/kokkos/functions/KokkosConstantFunction.h
  framework/include/kokkos/functions/KokkosPiecewiseBase.h
  framework/include/kokkos/functions/KokkosPiecewiseConstant.h
  framework/include/kokkos/functions/KokkosPiecewiseTabularBase.h
  framework/src/kokkos/auxkernels/KokkosFunctionAux.K
  framework/src/kokkos/functions/KokkosConstantFunction.K
  framework/src/kokkos/functions/KokkosPiecewiseBase.K
  framework/src/kokkos/functions/KokkosPiecewiseConstant.K
  framework/src/kokkos/functions/KokkosPiecewiseTabularBase.K
Owners: @lindsayad

Restructure InnerProduct auxkernel. Refs #31612.
  framework/include/mfem/auxkernels/MFEMDotProductAux.h
  framework/src/mfem/auxkernels/MFEMDotProductAux.C
  test/tests/mfem/auxkernels/tests
Owners: @lindsayad

apply patch. Refs #31612
  framework/include/mfem/auxkernels/MFEMDotProductAux.h
Owners: @lindsayad

Update documentation for PinMeshGenerator
  modules/reactor/doc/content/source/meshgenerators/PinMeshGenerator.md
Owners: @GiudGiud, @loganharbour, @roystgnr

Normalize plane coefficients so that a, b, and c define a unit vector
  framework/include/csg/CSGPlane.h
  framework/src/csg/CSGPlane.C
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_homogenized_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_homogenized_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_single_assembly_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_single_assembly_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_single_assembly_csg.json
Owners: @lindsayad, @GiudGiud, @loganharbour, @roystgnr

Refactor CSGBase to be able to handle single MG dependency on multiple downstream MG's
  framework/include/base/MeshGeneratorSystem.h
  framework/include/csg/CSGBase.h
  framework/include/csg/CSGCellList.h
  framework/include/csg/CSGPlane.h
  framework/include/csg/CSGSphere.h
  framework/include/csg/CSGSurface.h
  framework/include/csg/CSGSurfaceList.h
  framework/include/csg/CSGUniverseList.h
  framework/include/csg/CSGXCylinder.h
  framework/include/csg/CSGYCylinder.h
  framework/include/csg/CSGZCylinder.h
  framework/src/base/MeshGeneratorSystem.C
  framework/src/csg/CSGBase.C
  framework/src/csg/CSGSurfaceList.C
  framework/src/meshgenerators/MeshGenerator.C
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/src/meshgenerators/ReactorGeometryMeshBuilderBase.C
Owners: @loganharbour, @lindsayad, @roystgnr, @GiudGiud
