Repository idaholab/moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @cticenhour, @lindsayad, @permcody, @zachmprince, @roystgnr, @GiudGiud, @dschwen, @bwspenc, @recuero, @joshuahansel, @grmnptr, @cpgr, @jiangwen84, @hugary1995, @sapitts

Address comments by kkiesling
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_homogenized_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_homogenized_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_hex_single_assembly_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_2d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_3d_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/gold/pin_square_single_assembly_csg.json
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/tests
Owners: @GiudGiud, @loganharbour, @roystgnr

Move getInnerRegion to CSGUtils file
  framework/include/utils/CSGUtils.h
  framework/src/utils/CSGUtils.C
  modules/reactor/include/meshgenerators/PinMeshGenerator.h
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
Owners: @lindsayad, @GiudGiud, @loganharbour, @roystgnr

Update failing tests and add new ones
  test/include/csg/NestedCellUniverseMeshGenerator.h
  test/include/csg/TestOneToManyDependencyCombinerGenerator.h
  test/include/csg/TestOneToManyDependencyMeshGenerator.h
  test/src/csg/NestedCellUniverseMeshGenerator.C
  test/src/csg/TestCSGAxialSurfaceMeshGenerator.C
  test/src/csg/TestCSGInputNotMovedMeshGenerator.C
  test/src/csg/TestOneToManyDependencyCombinerGenerator.C
  test/src/csg/TestOneToManyDependencyMeshGenerator.C
  test/tests/csg/csg_only_one_to_many_deps.i
  test/tests/csg/gold/csg_only_one_to_many_deps_out_csg.json
  test/tests/csg/tests
Owners: @lindsayad

Address comments by GiudGiud
  modules/reactor/doc/content/source/meshgenerators/PinMeshGenerator.md
  modules/reactor/include/meshgenerators/PinMeshGenerator.h
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/test/tests/meshgenerators/pin_mesh_generator/tests
Owners: @GiudGiud, @loganharbour, @roystgnr

Update documentation based on CSGBase refactoring
  framework/doc/content/source/csg/CSGBase.md
  framework/doc/content/source/csg/CSGSurface.md
Owners: none

Add petsc/libmesh related changes from october 29 update
  modules/doc/content/newsletter/2025/2025_10.md
Owners: @cticenhour

Update to reduce size of the messages when no changes
  python/TestHarness/resultssummary/summary.py
Owners: @loganharbour

Add entry on AuxKernel support in Kokkos-MOOSE
  modules/doc/content/newsletter/2025/2025_10.md
Owners: @cticenhour

Update docstring for build_summary
  python/TestHarness/resultssummary/summary.py
Owners: @loganharbour

Update unit test to test changes of table in different cases
  python/TestHarness/tests/test_resultssummary.py
Owners: @loganharbour

Update documentation #30655
  framework/doc/content/source/kokkos/actions/AddKokkosKernelAction.md
  framework/doc/content/source/kokkos/auxkernels/KokkosFunctionAux.md
  framework/doc/content/source/kokkos/functions/KokkosConstantFunction.md
  framework/doc/content/source/kokkos/functions/KokkosPiecewiseConstant.md
  framework/doc/content/syntax/KokkosFunctions/index.md
Owners: none

Add tests #30655
  test/include/kokkos/kernels/KokkosConstantFuncCoefDiffusion.h
  test/include/kokkos/kernels/KokkosFuncCoefDiffusion.h
  test/src/kokkos/kernels/KokkosConstantFuncCoefDiffusion.K
  test/src/kokkos/kernels/KokkosFuncCoefDiffusion.K
  test/tests/kokkos/functions/concrete_type/gold/kokkos_concrete_function_out.e
  test/tests/kokkos/functions/concrete_type/kokkos_concrete_function.i
  test/tests/kokkos/functions/concrete_type/tests
  test/tests/kokkos/functions/constant_function/gold/kokkos_constant_function_out.e
  test/tests/kokkos/functions/constant_function/kokkos_constant_function.i
  test/tests/kokkos/functions/constant_function/tests
  test/tests/kokkos/functions/default_function/gold/kokkos_default_function_out.e
  test/tests/kokkos/functions/default_function/kokkos_default_function.i
  test/tests/kokkos/functions/default_function/tests
  test/tests/kokkos/functions/piecewise_constant/gold/kokkos_piecewise_constant_out.e
  test/tests/kokkos/functions/piecewise_constant/kokkos_piecewise_constant.i
  test/tests/kokkos/functions/piecewise_constant/tests
  test/tests/kokkos/functions/piecewise_constant/xy.csv
  test/tests/kokkos/functions/piecewise_constant/xy.json
Owners: @lindsayad

Temporarily disable retrieving abstract Kokkos function for GPU #30655
  framework/src/kokkos/functions/KokkosFunctionInterface.K
  test/tests/kokkos/functions/constant_function/tests
  test/tests/kokkos/functions/default_function/tests
  test/tests/kokkos/functions/piecewise_constant/tests
Owners: @lindsayad

Move Kokkos aux system to top of newsletter
  modules/doc/content/newsletter/2025/2025_10.md
Owners: @cticenhour

Add blurb about ArrayNodalKernels
  modules/doc/content/newsletter/2025/2025_10.md
Owners: @cticenhour

Fix MFEMSumAux docs/param. descriptions (#31599)
  framework/include/mfem/auxkernels/MFEMSumAux.h
  framework/src/mfem/auxkernels/MFEMSumAux.C
Owners: @lindsayad

Parallelise LOR tests for extra speed on big machines (#31798)
  test/tests/mfem/lor/tests
Owners: @lindsayad

Add boundary sidesets to hinomaru.e
  test/tests/mfem/auxkernels/projection.i
  test/tests/mfem/mesh/hinomaru.e
Owners: @lindsayad

Fix template arguments in InputParametersChecksUtils (#25977)
  framework/include/utils/InputParametersChecksUtils.h
Owners: @lindsayad

CODEOWNERS:

/conda @loganharbour @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/pyproject.toml @loganharbour @zachmprince

/.github @permcody

/libmesh @roystgnr @lindsayad @cticenhour @loganharbour
/petsc @lindsayad @cticenhour @loganharbour

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/base @roystgnr @lindsayad
/framework/*/base/MeshGeneratorSystem* @loganharbour @lindsayad
/framework/*/dampers @GiudGiud @lindsayad
/framework/*/executioners/*Solve* @GiudGiud @lindsayad
/framework/*/materials/Derivative* @dschwen @lindsayad
/framework/*/materials/Material* @roystgnr @loganharbour @lindsayad
/framework/*/materials/Parsed* @dschwen @lindsayad
/framework/*/mesh @roystgnr @GiudGiud @lindsayad
/framework/*/meshgenerators @roystgnr @GiudGiud @lindsayad
/framework/*/multiapps @GiudGiud @lindsayad
/framework/*/loops @GiudGiud @lindsayad
/framework/*/outputs @roystgnr @lindsayad
/framework/*/postprocessors @GiudGiud @lindsayad
/framework/*/restart @loganharbour @lindsayad
/framework/*/reporters @loganharbour @zachmprince @lindsayad
/framework/*/samplers @zachmprince @lindsayad
/framework/*/systems @roystgnr @lindsayad
/framework/*/timeintegrators @GiudGiud @lindsayad
/framework/*/timesteppers @GiudGiud @lindsayad
/framework/*/transfers @GiudGiud @roystgnr @lindsayad
/framework/*/utils/Units* @dschwen @lindsayad
/framework/*/*/*Jump* @roystgnr @lindsayad
/framework/*/*/*Side* @roystgnr @lindsayad

/modules/contact @bwspenc @lindsayad @recuero
/modules/doc/content/getting_started/installation @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/doc/content/sqa_reports.yml @GiudGiud
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad @GiudGiud
/modules/heat_conduction @lindsayad
/modules/heat_transfer @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud @grmnptr
/modules/optimization @zachmprince @dschwen
/modules/phase_field @dschwen
/modules/porous_flow @cpgr
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud @loganharbour @roystgnr
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince @grmnptr
/modules/solid_mechanics @bwspenc @dschwen @jiangwen84
/modules/solid_mechanics/*/lagrangian @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/cohesive_zone_model @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/interfacekernels @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/crystal_plasticity @bwspenc @dschwen @jiangwen84 @sapitts
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/python/MooseDocs @cticenhour
/python/moosesqa @cticenhour
/python/TestHarness @loganharbour
/python/scripts/versioner.py @loganharbour
/python/scripts/versioner.yaml @loganharbour

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @loganharbour
/scripts/configure_libmesh.sh @cticenhour @loganharbour @roystgnr
/scripts/update_and_rebuild_libmesh.sh @cticenhour @loganharbour @roystgnr

/test @lindsayad
