Repository idaholab/moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @cticenhour, @lindsayad, @permcody, @zachmprince, @roystgnr, @GiudGiud, @dschwen, @bwspenc, @recuero, @joshuahansel, @grmnptr, @cpgr, @jiangwen84, @hugary1995, @sapitts

CODEOWNERS:

/conda @loganharbour @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/pyproject.toml @loganharbour @zachmprince

/.github @permcody

/libmesh @roystgnr @lindsayad @cticenhour @loganharbour
/petsc @lindsayad @cticenhour @loganharbour

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/base @roystgnr @lindsayad
/framework/*/base/MeshGeneratorSystem* @loganharbour @lindsayad
/framework/*/dampers @GiudGiud @lindsayad
/framework/*/executioners/*Solve* @GiudGiud @lindsayad
/framework/*/materials/Derivative* @dschwen @lindsayad
/framework/*/materials/Material* @roystgnr @loganharbour @lindsayad
/framework/*/materials/Parsed* @dschwen @lindsayad
/framework/*/mesh @roystgnr @GiudGiud @lindsayad
/framework/*/meshgenerators @roystgnr @GiudGiud @lindsayad
/framework/*/multiapps @GiudGiud @lindsayad
/framework/*/loops @GiudGiud @lindsayad
/framework/*/outputs @roystgnr @lindsayad
/framework/*/postprocessors @GiudGiud @lindsayad
/framework/*/restart @loganharbour @lindsayad
/framework/*/reporters @loganharbour @zachmprince @lindsayad
/framework/*/samplers @zachmprince @lindsayad
/framework/*/systems @roystgnr @lindsayad
/framework/*/timeintegrators @GiudGiud @lindsayad
/framework/*/timesteppers @GiudGiud @lindsayad
/framework/*/transfers @GiudGiud @roystgnr @lindsayad
/framework/*/utils/Units* @dschwen @lindsayad
/framework/*/*/*Jump* @roystgnr @lindsayad
/framework/*/*/*Side* @roystgnr @lindsayad

/modules/contact @bwspenc @lindsayad @recuero
/modules/doc/content/getting_started/installation @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/doc/content/sqa_reports.yml @GiudGiud
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad @GiudGiud
/modules/heat_conduction @lindsayad
/modules/heat_transfer @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud @grmnptr
/modules/optimization @zachmprince @dschwen
/modules/phase_field @dschwen
/modules/porous_flow @cpgr
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud @loganharbour @roystgnr
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince @grmnptr
/modules/solid_mechanics @bwspenc @dschwen @jiangwen84
/modules/solid_mechanics/*/lagrangian @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/cohesive_zone_model @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/interfacekernels @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/crystal_plasticity @bwspenc @dschwen @jiangwen84 @sapitts
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/python/MooseDocs @cticenhour
/python/moosesqa @cticenhour
/python/TestHarness @loganharbour
/python/scripts/versioner.py @loganharbour
/python/scripts/versioner.yaml @loganharbour

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @loganharbour
/scripts/configure_libmesh.sh @cticenhour @loganharbour @roystgnr
/scripts/update_and_rebuild_libmesh.sh @cticenhour @loganharbour @roystgnr

/test @lindsayad

Add header for scalar symmetry BC. (#27756)
  framework/include/linearfvbcs/LinearFVScalarSymmetryBC.h
Owners: @lindsayad

Add gold files for k-epsilon channel case. (#27756)
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_symmetric_out_line_center_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_symmetric_out_line_quarter_radius_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_symmetric_out_side_top_0001.csv
Owners: @lindsayad, @GiudGiud, @grmnptr

Add pressure symmetry BC doco. (#27756)
  modules/navier_stokes/doc/content/source/linearfvbcs/LinearFVPressureSymmetryBC.md
Owners: @lindsayad, @GiudGiud, @grmnptr

Add symmetric case to k-epsilon channel case. (#27756)
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/channel_ERCOFTAC_symmetric.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/tests
Owners: @lindsayad, @GiudGiud, @grmnptr

Add mms test for symmetric vortex case. (#27756)
  framework/src/linearfvbcs/LinearFVScalarSymmetryBC.C
  modules/navier_stokes/src/linearfvbcs/LinearFVvelocitySymmetryBC.C
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/test.py
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/tests
Owners: @lindsayad, @GiudGiud, @grmnptr

Add test case for rz in NS (#27756)
  framework/src/loops/ComputeLinearFVGreenGaussGradientVolumeThread.C
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/linear-segregated/2d-symmetric/channel.i
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/linear-segregated/2d-symmetric/gold/channel_out_outlet_velocity_profile_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/linear-segregated/2d-symmetric/gold/channel_rz_out_outlet_velocity_profile_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/linear-segregated/2d-symmetric/tests
  test/tests/linearfvkernels/diffusion/test.py
Owners: @GiudGiud, @lindsayad, @grmnptr

Add source for velocity symmetry bc. (#27756)
  modules/navier_stokes/src/linearfvbcs/LinearFVvelocitySymmetryBC.C
Owners: @lindsayad, @GiudGiud, @grmnptr

Add source for scalar symmetry BC. (#27756)
  framework/src/linearfvbcs/LinearFVScalarSymmetryBC.C
Owners: @lindsayad

Implement more functions for the velocity symmetry BC. (#27756)
  framework/include/linearfvbcs/LinearFVScalarSymmetryBC.h
  framework/src/linearfvbcs/LinearFVScalarSymmetryBC.C
  modules/navier_stokes/include/linearfvbcs/LinearFVVelocitySymmetryBC.h
  modules/navier_stokes/src/linearfvbcs/LinearFVvelocitySymmetryBC.C
Owners: @lindsayad, @GiudGiud, @grmnptr

Transition to a different formulation. (#27756)
  framework/src/linearfvkernels/LinearFVAnisotropicDiffusion.C
  modules/navier_stokes/include/userobjects/RhieChowMassFlux.h
  modules/navier_stokes/src/executioners/LinearAssemblySegregatedSolve.C
  modules/navier_stokes/src/linearfvbcs/LinearFVvelocitySymmetryBC.C
  modules/navier_stokes/src/linearfvkernels/LinearWCNSFVMomentumFlux.C
  modules/navier_stokes/src/userobjects/RhieChowMassFlux.C
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex.i
Owners: @lindsayad, @GiudGiud, @grmnptr

Polish velocity symmetryBC. (#27756)
  modules/navier_stokes/src/fvbcs/INSFVSymmetryVelocityBC.C
  modules/navier_stokes/src/linearfvbcs/LinearFVvelocitySymmetryBC.C
  modules/navier_stokes/src/linearfvkernels/LinearWCNSFVMomentumFlux.C
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonlinear-newton.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonlinear.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex.i
Owners: @lindsayad, @GiudGiud, @grmnptr

Add include for velocity symmetry bc. (#27756)
  modules/navier_stokes/include/linearfvbcs/LinearFVVelocitySymmetryBC.h
Owners: @lindsayad, @GiudGiud, @grmnptr

Add tests and doco for scalar symmetry BC. (#27756)
  framework/doc/content/source/linearfvbcs/LinearFVScalarSymmetryBC.md
  framework/include/linearfvbcs/LinearFVScalarSymmetryBC.h
  framework/src/linearfvbcs/LinearFVAdvectionDiffusionFunctorNeumannBC.C
  framework/src/linearfvbcs/LinearFVScalarSymmetryBC.C
  test/tests/linearfvbcs/scalar_symmetry/advection-1d-symmetry.i
  test/tests/linearfvbcs/scalar_symmetry/advection-2d-symmetry.i
  test/tests/linearfvbcs/scalar_symmetry/diffusion-1d-symmetry.i
  test/tests/linearfvbcs/scalar_symmetry/diffusion-2d-symmetry.i
  test/tests/linearfvbcs/scalar_symmetry/test.py
  test/tests/linearfvbcs/scalar_symmetry/tests
Owners: @lindsayad

Accelerate MMS tests, fix symmetry BC. (#27756)
  modules/navier_stokes/src/linearfvbcs/LinearFVVelocitySymmetryBC.C
  modules/navier_stokes/src/linearfvkernels/LinearWCNSFVMomentumFlux.C
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonorthogonal.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/test.py
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-vortex/spacedependent_mu/sl.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-vortex/spacedependent_mu/test.py
Owners: @lindsayad, @GiudGiud, @grmnptr

Add RZ example for nonorthogonal grid diffusion. (#2776)
  test/tests/linearfvkernels/diffusion/diffusion-2d-rz.i
  test/tests/linearfvkernels/diffusion/test.py
  test/tests/linearfvkernels/diffusion/tests
Owners: @lindsayad

Add bc for pressure. (#27756)
  framework/src/linearfvkernels/LinearFVAnisotropicDiffusion.C
  modules/navier_stokes/include/linearfvbcs/LinearFVExtrapolatedPressureBC.h
  modules/navier_stokes/include/linearfvbcs/LinearFVPressureSymmetryBC.h
  modules/navier_stokes/include/linearfvbcs/LinearFVVelocitySymmetryBC.h
  modules/navier_stokes/src/linearfvbcs/LinearFVPressureFluxBC.C
  modules/navier_stokes/src/linearfvbcs/LinearFVPressureSymmetryBC.C
  modules/navier_stokes/src/linearfvbcs/LinearFVVelocitySymmetryBC.C
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonlinear-newton.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonlinear.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/2d-symmetric-vortex-nonorthogonal.i
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/test.py
  modules/navier_stokes/test/tests/finite_volume/ins/mms/linear-segregated/2d-symmetric-vortex/tests
Owners: @lindsayad, @GiudGiud, @grmnptr

Add doco for velocity symmetry BC. (#27756)
  modules/navier_stokes/doc/content/source/linearfvbcs/LinearFVPressureSymmetryBC.md
  modules/navier_stokes/doc/content/source/linearfvbcs/LinearFVVelocitySymmetryBC.md
Owners: @lindsayad, @GiudGiud, @grmnptr

Clean up source and header files. (#27756)
  framework/include/linearfvbcs/LinearFVAdvectionDiffusionOutflowBC.h
  modules/navier_stokes/include/linearfvbcs/LinearFVVelocitySymmetryBC.h
  modules/navier_stokes/src/fvbcs/INSFVSymmetryVelocityBC.C
  modules/navier_stokes/src/linearfvkernels/LinearWCNSFVMomentumFlux.C
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/tests
Owners: @lindsayad, @GiudGiud, @grmnptr

Regold turbulence cases with old outflow conditions. (#27756)
  modules/navier_stokes/test/tests/finite_volume/ins/cht/bulk_heat_transfer/gold/tri.e
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated-transient/gold/BFS_ERCOFTAC_out_line_entry_channel_wall_0010.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated-transient/gold/BFS_ERCOFTAC_out_line_quarter_entry_channel_0010.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated-transient/gold/BFS_ERCOFTAC_out_side_bottom_0010.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated-transient/gold/BFS_ERCOFTAC_out_side_top_0010.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_out_line_entry_channel_wall_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_out_line_quarter_entry_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_out_side_bottom_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_out_side_top_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_short_line_entry_channel_wall_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_short_line_quarter_entry_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_short_side_bottom_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/linear-segregated/gold/BFS_ERCOFTAC_short_side_top_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/block-restricted/gold/block-ke_out_line_center_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/block-restricted/gold/block-ke_out_line_quarter_radius_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/block-restricted/gold/block-ke_out_line_wall_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated-transient/gold/channel_ERCOFTAC_out_line_center_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated-transient/gold/channel_ERCOFTAC_out_line_quarter_radius_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated-transient/gold/channel_ERCOFTAC_out_side_bottom_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated-transient/gold/channel_ERCOFTAC_out_side_top_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_out_line_center_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_out_line_quarter_radius_channel_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_out_side_bottom_0001.csv
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/linear-segregated/gold/channel_ERCOFTAC_out_side_top_0001.csv
Owners: @lindsayad, @GiudGiud, @grmnptr

We must handle exceptions coherently before we reach a global communication
  modules/solid_mechanics/src/dampers/ElementJacobianDamper.C
Owners: @bwspenc, @dschwen, @jiangwen84

Make negative Jacobian occur only on one process when running with two ranks
  modules/solid_mechanics/test/tests/jacobian_damper/exception_handling.i
Owners: @bwspenc, @dschwen, @jiangwen84

add MFEMParsedFunction
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

Add initialSetup() to MFEMParsedFunction for declaring MFEMScalarParsedCoeff
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

Add MFEMScalarParsedCoeff
  framework/include/mfem/coeffs/MFEMScalarParsedCoeff.h
  framework/src/mfem/coeffs/MFEMScalarParsedCoeff.C
Owners: @lindsayad

Add DiffusionParsedSource to the test suit
  test/tests/mfem/kernels/gold/OutputData/DiffusionParsedSource/Run0/Cycle000000/data.pvtu
  test/tests/mfem/kernels/gold/OutputData/DiffusionParsedSource/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/kernels/gold/OutputData/DiffusionParsedSource/Run0/Cycle000001/data.pvtu
  test/tests/mfem/kernels/gold/OutputData/DiffusionParsedSource/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/kernels/gold/OutputData/DiffusionParsedSource/Run0/Run0.pvd
  test/tests/mfem/kernels/tests
Owners: @lindsayad

add test form MFEMParsedFunction
  test/tests/mfem/kernels/diffusion_parsed_source.i
Owners: @lindsayad

Code tidying
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  test/tests/mfem/kernels/diffusion_parsed_source.i
Owners: @lindsayad

Apply clang format. Refs#31145
  framework/include/mfem/coeffs/MFEMScalarParsedCoeff.h
  framework/src/mfem/coeffs/MFEMScalarParsedCoeff.C
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/problem/MFEMProblem.C
Owners: @lindsayad

moved declareScalar from initialSetup to the constructor
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

moved files MFEMScalarParsedCoeff into functions Refs#31145
  framework/include/mfem/functions/MFEMScalarParsedCoeff.h
  framework/src/mfem/functions/MFEMScalarParsedCoeff.C
Owners: @lindsayad

Creating addUserObject for MFEMParsedFunction in MFEMProblem
  framework/src/mfem/problem/MFEMProblem.C
Owners: @lindsayad

applying patch Refs#31145
  framework/src/mfem/functions/MFEMParsedFunction.C
Owners: @lindsayad

Applying code review suggestions
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoeff.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoeff.C
  framework/src/mfem/problem/MFEMProblem.C
  test/tests/mfem/kernels/tests
Owners: @lindsayad

Renamed output directory
  test/tests/mfem/functions/function_parsed_source.i
Owners: @lindsayad

Moved outputdata from kernels to functions Refs#31145
  test/tests/mfem/functions/function_parsed_source.i
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000000/data.pvtu
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000000/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000001/data.pvtu
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Cycle000001/proc000000.vtu
  test/tests/mfem/functions/gold/OutputData/FunctionParsedSource/Run0/Run0.pvd
Owners: @lindsayad

Add docs for parsed functions Refs#31145
  framework/doc/content/source/mfem/functions/MFEMParsedFunction.md
Owners: none

Remove unused variable Refs#31145
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/src/mfem/functions/MFEMParsedFunction.C
  framework/src/mfem/functions/MFEMScalarParsedCoeff.C
  framework/src/mfem/problem/MFEMProblem.C
Owners: @lindsayad

Remove circular dependency Refs#31145
  framework/include/mfem/functions/MFEMParsedFunction.h
  framework/include/mfem/functions/MFEMScalarParsedCoeff.h
Owners: @lindsayad

Remove else block for MFEMParsedFunction
  framework/src/mfem/problem/MFEMProblem.C
Owners: @lindsayad

Add mfem capabilities to test spec Refs#31145
  test/tests/mfem/kernels/tests
Owners: @lindsayad
